more/**
tools/**
**/example/**
**/examples/**
**/reporting/**
/libs/*/test/**
/libs/*/*/test/**
**/doc/**
**/bench/**
**/benchmark/**
**/performance/**
**/workbench/
*.vcxproj
readme.*
*.md
**/README.md
!/README.md
README
*.html
*.htm
*.py
*.sh
*.patch
libs/url/**
Jamroot
INSTALL
LICENSE
LICENSE_1_0.txt
boost.*
*.jam
**/CMakeLists.txt
!/CMakeLists.txt
*.css
*.png
*.js
*.bat
*.sln
*.xsl
*.csv
_clang-format
status/**
!/boost/**
Jamfile
Jamfile.v2
sublibs
*.xml
*.cmake
*.cmake.in
*.pl
*.json
*.svg
ChangeLog
CHANGELOG
meson.build
*.txt
*.wrap
*.yml
config.cmake.in
libs/utility/**
!/libs/utility/src/*.cpp
libs/*/samples/**
libs/*/perf/**
libs/*/perf/**
libs/*/config/**
libs/*/tool/**
libs/*/tools/**
libs/*/build/**
**/tutorial/**
libs/units/**
libs/smart_ptr/**
libs/thread/build/
/libs/safe_numerics/
/libs/random/extra/
/libs/proto/
/libs/yap/
/libs/multiprecision/
/libs/numeric/
/libs/mpl/
/libs/hof/
/libs/hana/
/libs/fusion/
/libs/crc/*.cpp
/libs/qvm/
/libs/statechart/
/libs/config/
/libs/json/
!/libs/json/src/*.cpp
!/libs/context/src/asm/
/libs/algorithm
/libs/bind/
/libs/concept_check/
/libs/spirit/